.App {
  text-align: center;
  margin-top: -50px;
}

.App-header {
  background: rgb(249, 60, 0);
  background: linear-gradient(
    90deg,
    rgba(249, 60, 0, 1) 0%,
    rgba(255, 184, 45, 1) 57%,
    rgba(255, 239, 21, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.App-logo {
  height: 300px;
  border-radius: 50%;
  margin-top: 5px;
}

.img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.App-img {
  height: 200px;
  margin-top: -10px;
}

.button-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.normal-button,
.hard-button,
.very-hard-button,
.soft-button,
.very-soft-button {
  padding: 10px 20px;
  font-size: large;
  margin: 15px;
  font-weight:600;
  font-family:'Times New Roman', Times, serif;
  background-color: #ff3300;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 1.1);
}

.normal-button:hover,
.hard-button:hover,
.very-hard-button:hover,
.soft-button:hover,
.very-soft-button:hover {
  background-color: #b33900;
  color: yellow;
  transform: scale(1.2);
}
.footer {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  background: rgb(249, 60, 0);
  background: linear-gradient(
    90deg,
    rgba(249, 60, 0, 1) 0%,
    rgba(255, 184, 45, 1) 57%,
    rgba(255, 239, 21, 1) 100%
 
  );
  border-bottom :120px;
  
  
}

.normal-button:active,
.hard-button:active,
.very-hard-button:active,
.soft-button:active,
.very-soft-button:active {
  background-color: rgb(234, 215, 75);
  color: #ff0000;
}
.home-button{
 width: 100px;
 height: 50px;
 font-weight: 600;
 font-size: large;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: rgba(0, 0, 0, 0.379);
 background-color: rgba(255, 255, 255, 0.50);
 border: none;
 border-radius: 50%;
 margin-bottom: 150px;
 text-decoration: none;
  display: flex;
  justify-content: center; 
  align-items: center;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease, transform 0.3s ease;
  
}
.home-button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform:scale(0.8);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 1.1);
}
.home-button:active{
  background-color: black;
  color: white;
  
}
.big-counter{
  color: rgba(255, 255, 255, 0.50);
  font-weight: 900;
  font-size: 80px;
  margin-top: 350px;
  margin-bottom: 50px;
  

}
.control {
  display: flex; 
 margin-top: -50px;
  
}

.btn-add, .btn-rem{
  width: 50px;
  height: 30px;
  color: rgba(0, 0, 0, 0.379);
  background-color: rgba(255, 255, 255, 0.50);
  border: none;
  margin: 20px;
  font-weight: 600;
  font-size: x-large;
  cursor: pointer;
  border-radius: 50px;
}
.btn-rem:hover{
  background-color: white;
  color: black;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 1.1);
  }
.btn-add:hover{
  background-color: white;
  color: black;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 1.1);

}
.btn-rem:active{
  background-color: black;
  color: white;
}
.btn-add:active{
  background-color: black;
  color: white;

}
.btn-play-pause{width:100px;
  height: 30px;
  color: rgba(0, 0, 0, 0.379);
  background-color: rgba(255, 255, 255, 0.50);
  border: none;
  margin:20px;
  margin-bottom: -30px;
  font-weight: 600;
  font-size: x-large;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  justify-content: center; 
  align-items: center;
 
  
}

.btn-play-pause:hover{
  background-color: white;
  color: black;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 1.1);
}
.btn-play-pause:active{
  background-color: black;
  color: white;
}
.loader {
  font-size: 24px;
  background-color: rgb(255, 179, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(247, 7, 7, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}
